<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - HandSignAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
    <nav>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="/page1">Hand Recognition</a>
        </nav>
    </nav>
    <div class="container">
        <h1>Welcome to HandSignAI</h1>
    </div>
</body>
</html>